<div class="containerOfComponents home">
  <mat-toolbar  color="primary"  role="heading" aria-label="header">
    <mat-toolbar-row >
      <h1 class="subHeader">Task Summary</h1>
    </mat-toolbar-row>
  </mat-toolbar>
  <div>
    <h2 style="text-align:center;color:#3f51b5">
      Summary of Task Implementation!
    </h2>
    <h4 class='subHeadingColorh5'>Technical Stack</h4>
    <p class='subContentP'>
      Angular-9, Angular-material and sass.
    </p>
    <h4 class='subHeadingColorh5'>Libraries & API</h4>
    <p class='subContentP'>
      rxjs,HTTP, HTTP_Interceptor and CanActivate API with its dependents API are loaded using Dependency Injection.
    </p>
    <h4 class='subHeadingColorh5'>Functionality</h4>
    <p class='subContentP'>
      In this application I have Validated routing using logged user token(Can Activate), Handled request and response header and ajax error in one place for all services which invokes from rest services using rxjs libraries and HTTP Interceptor, Employee third party api is called in rest services and passed the data over component to render the employee data in child and displayed the child rendered data in parent component.
    </p>
  </div>
</div>
