/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
$backgroundColor: #3f51b5 !important;
$color:rgb(255, 255, 255);
$boxShadow:0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}
h1{
  flex-grow:1;
}
.containerOfComponents{
  margin: 0 auto 7% auto;
}
.body{
  background-color: #eee;
}
.subHeadingColorh5{
  padding-left:2%;
  color:black;
}
.subContentP{
  padding-left:5%;
}
.subHeadingColor{
  color:Black;
}
.headerOfComponent{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.tooltipPrimary {
  font-size:larger;
  position:fixed;
  z-index:1000;
  background-color: $color;
  color: $backgroundColor;
}
.header{
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0;
  box-shadow: $boxShadow;/* Sets the sticky toolbar to be on top */
  z-index: 1000;
}
  @media screen and (min-width:1000px){
    .containerOfComponents{
      width:1367px;
    }
  }

@media screen and (min-width:767px){
    #desktopTabViewHeader{
      font-size: larger;
      display:block;
    }
    #mobileViewMenu{
      display:none;
    }
    .nav{
      font-size: medium!important;
    }
    .mobileViewIcon,#mat-nav-list{
      display:none;
    }
    .mat-drawer-backdrop.mat-drawer-shown{
      background: unset;
    }
}

@media screen and (max-width:766px){
  .tooltipPrimary {
    font-size:smaller;
    position:fixed;
    z-index:1000;
    background-color: $color;
    color: $backgroundColor;
  }
  #desktopTabViewHeader{
    display:none !important;
  }
  #mobileViewMenu{
    display:block;
  }
  .mobileViewIcon{
    display:block!important;
    height: inherit;

  }
}
